<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ChessEngine</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.min.js"></script>
    <script src="{{ url_for('static', filename='boardmanager.js') }}"></script>
    <script src="{{ url_for('static', filename='pieces.js') }}"></script>
    <script src="{{ url_for('static', filename='sketch.js') }}"></script>
    <link rel="shortcut icon" href="#" />
  </head>
  <body></body>
</html>
